body {
  background-color: lawngreen;
}

.App {
  text-align: center;
}

.stickynote {
  background-color: yellow;
  font-size: 18px;
  height: 250px;
  width: 250px;
  margin: 15px;
  text-align: center;
  float: left;
}

.deleteIdea {
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  color: black;
}

.stickynote:hover .deleteIdea {
  visibility: visible;
}
